<a href="https://colab.research.google.com/github/rrben/Estatisticas_Descritiva/blob/main/Dummy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
#Importe o arquivo formato xlsx
limite = pd.read_excel("/content/Limite_Credito_dummy.xlsx")
limite.head()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,LimitedoChequeEspecial,Escolaridade
0,70,10736,5214,400,500,Fundamental_Medio
1,68,5000,5000,380,600,Fundamental_Medio
2,44,5800,5800,500,800,Fundamental_Medio
3,72,4300,4300,2000,1000,Fundamental_Medio
4,75,4400,4400,3000,1000,Fundamental_Medio

In [4]:
limite = pd.get_dummies(limite, prefix=['Escolaridade'])

In [5]:
limite.head()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,LimitedoChequeEspecial,Escolaridade_Fundamental_Medio,Escolaridade_Superior_Pos
0,70,10736,5214,400,500,1,0
1,68,5000,5000,380,600,1,0
2,44,5800,5800,500,800,1,0
3,72,4300,4300,2000,1000,1,0
4,75,4400,4400,3000,1000,1,0

In [6]:
limite.corr()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,LimitedoChequeEspecial,Escolaridade_Fundamental_Medio,Escolaridade_Superior_Pos
Idade,1.000000,0.066396,0.063227,0.064149,0.075883,-0.110892,0.110892
RendimentoTotal,0.066396,1.000000,0.960551,0.031041,0.858120,-0.396191,0.396191
Salario,0.063227,0.960551,1.000000,0.081792,0.888839,-0.475479,0.475479
LimitedeCreditoImediato,0.064149,0.031041,0.081792,1.000000,0.226990,-0.259433,0.259433
LimitedoChequeEspecial,0.075883,0.858120,0.888839,0.226990,1.000000,-0.598310,0.598310
Escolaridade_Fundamental_Medio,-0.110892,-0.396191,-0.475479,-0.259433,-0.598310,1.000000,-1.000000
Escolaridade_Superior_Pos,0.110892,0.396191,0.475479,0.259433,0.598310,-1.000000,1.000000

In [7]:
import statsmodels.formula.api as smf

In [8]:
#modelo MRLS
function = 'LimitedoChequeEspecial~Idade+RendimentoTotal+Salario+LimitedeCreditoImediato+Escolaridade_Fundamental_Medio+Escolaridade_Superior_Pos'
model = smf.ols(formula=function, data=limite).fit() 
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.848
Model:                                OLS   Adj. R-squared:                  0.830
Method:                     Least Squares   F-statistic:                     46.89
Date:                    Fri, 05 May 2023   Prob (F-statistic):           4.07e-16
Time:                            21:23:51   Log-Likelihood:                -441.00
No. Observations:                      48   AIC:                             894.0
Df Residuals:                          42   BIC:                             905.2
Df Model:                               5
Covariance Type:                nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                       -509.4948   1248.421     -0.408      0.685   -3028.910    2009.920
Idade                             -2.7480     24.707     -0.111      0.912     -52.608      47.112
RendimentoTotal                    0.1461      0.109      1.338      0.188      -0.074       0.366
Salario                            0.3201      0.154      2.079      0.044       0.009       0.631
LimitedeCreditoImediato            0.7979      0.411      1.943      0.059      -0.031       1.627
Escolaridade_Fundamental_Medio -1611.3283    619.903     -2.599      0.013   -2862.343    -360.313
Escolaridade_Superior_Pos       1101.8335    899.444      1.225      0.227    -713.319    2916.986
==============================================================================
Omnibus:                        3.246   Durbin-Watson:                   1.979
Prob(Omnibus):                  0.197   Jarque-Bera (JB):                2.813
Skew:                           0.031   Prob(JB):                        0.245
Kurtosis:                       4.184   Cond. No.                     3.53e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.93e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [9]:
#modelo MRLS
function = 'LimitedoChequeEspecial~RendimentoTotal+Salario+LimitedeCreditoImediato+Escolaridade_Fundamental_Medio+Escolaridade_Superior_Pos-1'
model = smf.ols(formula=function, data=limite).fit() 
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.848
Model:                                OLS   Adj. R-squared:                  0.834
Method:                     Least Squares   F-statistic:                     59.99
Date:                    Fri, 05 May 2023   Prob (F-statistic):           4.92e-17
Time:                            21:23:53   Log-Likelihood:                -441.01
No. Observations:                      48   AIC:                             892.0
Df Residuals:                          43   BIC:                             901.4
Df Model:                               4
Covariance Type:                nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
RendimentoTotal                    0.1455      0.108      1.350      0.184      -0.072       0.363
Salario                            0.3208      0.152      2.110      0.041       0.014       0.627
LimitedeCreditoImediato            0.7960      0.406      1.962      0.056      -0.022       1.614
Escolaridade_Fundamental_Medio -2281.1650    987.653     -2.310      0.026   -4272.957    -289.373
Escolaridade_Superior_Pos        423.0286   1409.561      0.300      0.766   -2419.621    3265.678
==============================================================================
Omnibus:                        3.276   Durbin-Watson:                   1.991
Prob(Omnibus):                  0.194   Jarque-Bera (JB):                2.867
Skew:                           0.016   Prob(JB):                        0.238
Kurtosis:                       4.197   Cond. No.                     1.01e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.01e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [10]:
#modelo MRLS
function = 'LimitedoChequeEspecial~RendimentoTotal+Salario+LimitedeCreditoImediato+Escolaridade_Fundamental_Medio-1'
model = smf.ols(formula=function, data=limite).fit() 
print(model.summary())

                                   OLS Regression Results
===========================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared (uncentered):                   0.918
Model:                                OLS   Adj. R-squared (uncentered):              0.911
Method:                     Least Squares   F-statistic:                              123.2
Date:                    Fri, 05 May 2023   Prob (F-statistic):                    2.66e-23
Time:                            21:23:56   Log-Likelihood:                         -441.06
No. Observations:                      48   AIC:                                      890.1
Df Residuals:                          44   BIC:                                      897.6
Df Model:                               4
Covariance Type:                nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
RendimentoTotal                    0.1404      0.105      1.333      0.189      -0.072       0.353
Salario                            0.3350      0.143      2.342      0.024       0.047       0.623
LimitedeCreditoImediato            0.8827      0.282      3.132      0.003       0.315       1.451
Escolaridade_Fundamental_Medio -2511.0773    616.877     -4.071      0.000   -3754.312   -1267.843
==============================================================================
Omnibus:                        3.142   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.208   Jarque-Bera (JB):                2.657
Skew:                          -0.017   Prob(JB):                        0.265
Kurtosis:                       4.152   Cond. No.                     3.87e+04
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 3.87e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [11]:
#modelo MRLS
function = 'LimitedoChequeEspecial~Salario+LimitedeCreditoImediato+Escolaridade_Fundamental_Medio-1'
model = smf.ols(formula=function, data=limite).fit() 
print(model.summary())

                                   OLS Regression Results
===========================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared (uncentered):                   0.915
Model:                                OLS   Adj. R-squared (uncentered):              0.909
Method:                     Least Squares   F-statistic:                              160.9
Date:                    Fri, 05 May 2023   Prob (F-statistic):                    4.57e-24
Time:                            21:23:59   Log-Likelihood:                         -442.01
No. Observations:                      48   AIC:                                      890.0
Df Residuals:                          45   BIC:                                      895.6
Df Model:                               3
Covariance Type:                nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Salario                            0.5192      0.037     14.031      0.000       0.445       0.594
LimitedeCreditoImediato            0.7588      0.268      2.828      0.007       0.218       1.299
Escolaridade_Fundamental_Medio -2390.0248    615.400     -3.884      0.000   -3629.504   -1150.545
==============================================================================
Omnibus:                        2.678   Durbin-Watson:                   1.961
Prob(Omnibus):                  0.262   Jarque-Bera (JB):                1.767
Skew:                           0.238   Prob(JB):                        0.413
Kurtosis:                       3.811   Cond. No.                     2.41e+04
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 2.41e+04. This might indicate that there are
strong multicollinearity or other numerical problems.