<a href="https://colab.research.google.com/github/rrben/Estatisticas_Descritiva/blob/main/Limite_Credito_Dummy_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
import numpy as np
import seaborn as sns

In [31]:
#Importe o arquivo formato xlsx
credito = pd.read_excel("/content/Limite_Credito_Dummy_Exc.xlsx")
credito.head()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,Escolaridade,Gênero,Região,LimitedoChequeEspecial
0,70,10736,5214,400,Fundamental_Medio,RJ,F,500
1,68,5000,5000,380,Fundamental_Medio,RJ,F,600
2,44,5800,5800,500,Fundamental_Medio,RJ,F,800
3,72,4300,4300,2000,Fundamental_Medio,RJ,F,1000
4,75,4400,4400,3000,Fundamental_Medio,RJ,F,1000

In [32]:
credito = pd.get_dummies(data=credito, columns=['Escolaridade', 'Gênero', 'Região'], prefix=['Escolaridade', 'Gênero', 'Região'])

In [33]:
credito.head()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,LimitedoChequeEspecial,Escolaridade_Fundamental_Medio,Escolaridade_Superior_Pos,Gênero_RJ,Gênero_SP,Região_F,Região_M
0,70,10736,5214,400,500,1,0,1,0,1,0
1,68,5000,5000,380,600,1,0,1,0,1,0
2,44,5800,5800,500,800,1,0,1,0,1,0
3,72,4300,4300,2000,1000,1,0,1,0,1,0
4,75,4400,4400,3000,1000,1,0,1,0,1,0

In [35]:
credito.corr()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,LimitedoChequeEspecial,Escolaridade_Fundamental_Medio,Escolaridade_Superior_Pos,Gênero_RJ,Gênero_SP,Região_F,Região_M
Idade,1.000000,0.239445,0.213186,0.057183,0.228117,-0.150088,0.150088,-0.196052,0.196052,-0.121217,0.121217
RendimentoTotal,0.239445,1.000000,0.960551,0.031041,0.858120,-0.396191,0.396191,-0.177798,0.177798,-0.406241,0.406241
Salario,0.213186,0.960551,1.000000,0.081792,0.888839,-0.475479,0.475479,-0.242621,0.242621,-0.424335,0.424335
LimitedeCreditoImediato,0.057183,0.031041,0.081792,1.000000,0.226990,-0.259433,0.259433,-0.001145,0.001145,-0.473326,0.473326
LimitedoChequeEspecial,0.228117,0.858120,0.888839,0.226990,1.000000,-0.598310,0.598310,-0.312566,0.312566,-0.591779,0.591779
Escolaridade_Fundamental_Medio,-0.150088,-0.396191,-0.475479,-0.259433,-0.598310,1.000000,-1.000000,0.237508,-0.237508,0.602464,-0.602464
Escolaridade_Superior_Pos,0.150088,0.396191,0.475479,0.259433,0.598310,-1.000000,1.000000,-0.237508,0.237508,-0.602464,0.602464
Gênero_RJ,-0.196052,-0.177798,-0.242621,-0.001145,-0.312566,0.237508,-0.237508,1.000000,-1.000000,-0.167248,0.167248
Gênero_SP,0.196052,0.177798,0.242621,0.001145,0.312566,-0.237508,0.237508,-1.000000,1.000000,0.167248,-0.167248
Região_F,-0.121217,-0.406241,-0.424335,-0.473326,-0.591779,0.602464,-0.602464,-0.167248,0.167248,1.000000,-1.000000
Região_M,0.121217,0.406241,0.424335,0.473326,0.591779,-0.602464,0.602464,0.167248,-0.167248,-1.000000,1.000000

In [36]:
import statsmodels.formula.api as smf

In [37]:
credito.columns

Index(['Idade', 'RendimentoTotal', 'Salario', 'LimitedeCreditoImediato',
       'LimitedoChequeEspecial', 'Escolaridade_Fundamental_Medio',
       'Escolaridade_Superior_Pos', 'Gênero_RJ', 'Gênero_SP', 'Região_F',
       'Região_M'],
      dtype='object')

In [39]:
#modelo MRLS
function = 'LimitedoChequeEspecial~Idade+RendimentoTotal+Salario+LimitedeCreditoImediato+Escolaridade_Fundamental_Medio+Escolaridade_Superior_Pos+Gênero_RJ+Gênero_SP+Região_F+Região_M'
model = smf.ols(formula=function, data=credito).fit() 
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.886
Model:                                OLS   Adj. R-squared:                  0.865
Method:                     Least Squares   F-statistic:                     44.20
Date:                    Fri, 05 May 2023   Prob (F-statistic):           7.44e-17
Time:                            21:58:57   Log-Likelihood:                -434.21
No. Observations:                      48   AIC:                             884.4
Df Residuals:                          40   BIC:                             899.4
Df Model:                               7
Covariance Type:                nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                        398.6632    705.403      0.565      0.575   -1027.009    1824.335
Idade                             -4.9864     22.665     -0.220      0.827     -50.793      40.820
RendimentoTotal                    0.1354      0.101      1.336      0.189      -0.069       0.340
Salario                            0.2799      0.142      1.977      0.055      -0.006       0.566
LimitedeCreditoImediato            0.2439      0.414      0.589      0.559      -0.593       1.081
Escolaridade_Fundamental_Medio  -223.4354    572.451     -0.390      0.698   -1380.402     933.531
Escolaridade_Superior_Pos        622.0986    629.942      0.988      0.329    -651.062    1895.259
Gênero_RJ                       -967.2953    445.962     -2.169      0.036   -1868.619     -65.972
Gênero_SP                       1365.9585    598.088      2.284      0.028     157.177    2574.740
Região_F                       -1456.4227    533.381     -2.731      0.009   -2534.425    -378.420
Região_M                        1855.0859    718.221      2.583      0.014     403.507    3306.665
==============================================================================
Omnibus:                       15.742   Durbin-Watson:                   1.724
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               41.550
Skew:                          -0.679   Prob(JB):                     9.50e-10
Kurtosis:                       7.351   Cond. No.                     3.64e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.82e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [41]:
#modelo MRLS - Idade
function = 'LimitedoChequeEspecial~RendimentoTotal+Salario+LimitedeCreditoImediato+Escolaridade_Fundamental_Medio+Escolaridade_Superior_Pos+Gênero_RJ+Gênero_SP+Região_F+Região_M'
model = smf.ols(formula=function, data=credito).fit() 
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.885
Model:                                OLS   Adj. R-squared:                  0.869
Method:                     Least Squares   F-statistic:                     52.78
Date:                    Fri, 05 May 2023   Prob (F-statistic):           9.97e-18
Time:                            22:00:26   Log-Likelihood:                -434.24
No. Observations:                      48   AIC:                             882.5
Df Residuals:                          41   BIC:                             895.6
Df Model:                               6
Covariance Type:                nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                        279.5417    446.865      0.626      0.535    -622.921    1182.004
RendimentoTotal                    0.1315      0.099      1.334      0.190      -0.068       0.331
Salario                            0.2840      0.139      2.048      0.047       0.004       0.564
LimitedeCreditoImediato            0.2410      0.409      0.589      0.559      -0.585       1.067
Escolaridade_Fundamental_Medio  -280.4080    504.571     -0.556      0.581   -1299.409     738.593
Escolaridade_Superior_Pos        559.9498    556.481      1.006      0.320    -563.887    1683.786
Gênero_RJ                      -1011.0898    394.413     -2.564      0.014   -1807.623    -214.557
Gênero_SP                       1290.6315    484.666      2.663      0.011     311.828    2269.435
Região_F                       -1510.5634    467.696     -3.230      0.002   -2455.094    -566.033
Região_M                        1790.1052    647.038      2.767      0.008     483.386    3096.825
==============================================================================
Omnibus:                       15.771   Durbin-Watson:                   1.746
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               41.413
Skew:                          -0.684   Prob(JB):                     1.02e-09
Kurtosis:                       7.340   Cond. No.                     4.15e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.4e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [42]:
#modelo MRLS - Escolaridade_Fundamental_Medio
function = 'LimitedoChequeEspecial~RendimentoTotal+Salario+LimitedeCreditoImediato+Escolaridade_Superior_Pos+Gênero_RJ+Gênero_SP+Região_F+Região_M'
model = smf.ols(formula=function, data=credito).fit() 
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.885
Model:                                OLS   Adj. R-squared:                  0.869
Method:                     Least Squares   F-statistic:                     52.78
Date:                    Fri, 05 May 2023   Prob (F-statistic):           9.97e-18
Time:                            22:02:05   Log-Likelihood:                -434.24
No. Observations:                      48   AIC:                             882.5
Df Residuals:                          41   BIC:                             895.6
Df Model:                               6
Covariance Type:                nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                   139.3377    579.345      0.241      0.811   -1030.673    1309.349
RendimentoTotal               0.1315      0.099      1.334      0.190      -0.068       0.331
Salario                       0.2840      0.139      2.048      0.047       0.004       0.564
LimitedeCreditoImediato       0.2410      0.409      0.589      0.559      -0.585       1.067
Escolaridade_Superior_Pos   840.3578    963.762      0.872      0.388   -1105.999    2786.715
Gênero_RJ                 -1081.1918    386.454     -2.798      0.008   -1861.651    -300.732
Gênero_SP                  1220.5295    555.961      2.195      0.034      97.744    2343.315
Região_F                  -1580.6654    398.071     -3.971      0.000   -2384.585    -776.745
Região_M                   1720.0031    739.536      2.326      0.025     226.480    3213.526
==============================================================================
Omnibus:                       15.771   Durbin-Watson:                   1.746
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               41.413
Skew:                          -0.684   Prob(JB):                     1.02e-09
Kurtosis:                       7.340   Cond. No.                     3.22e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.31e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [45]:
#modelo MRLS -LimitedeCreditoImediato
function = 'LimitedoChequeEspecial~RendimentoTotal+Salario+Escolaridade_Superior_Pos+Gênero_RJ+Gênero_SP+Região_F+Região_M'
model = smf.ols(formula=function, data=credito).fit() 
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.884
Model:                                OLS   Adj. R-squared:                  0.871
Method:                     Least Squares   F-statistic:                     64.26
Date:                    Fri, 05 May 2023   Prob (F-statistic):           1.39e-18
Time:                            22:05:01   Log-Likelihood:                -434.44
No. Observations:                      48   AIC:                             880.9
Df Residuals:                          42   BIC:                             892.1
Df Model:                               5
Covariance Type:                nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                   426.7480    309.988      1.377      0.176    -198.834    1052.330
RendimentoTotal               0.1210      0.096      1.257      0.216      -0.073       0.315
Salario                       0.2937      0.137      2.149      0.037       0.018       0.569
Escolaridade_Superior_Pos   788.0449    952.173      0.828      0.413   -1133.519    2709.608
Gênero_RJ                  -969.5667    334.183     -2.901      0.006   -1643.975    -295.158
Gênero_SP                  1396.3147    465.435      3.000      0.005     457.028    2335.601
Região_F                  -1579.3241    394.958     -3.999      0.000   -2376.381    -782.267
Região_M                   2006.0722    553.410      3.625      0.001     889.245    3122.899
==============================================================================
Omnibus:                       18.013   Durbin-Watson:                   1.737
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               53.309
Skew:                          -0.774   Prob(JB):                     2.66e-12
Kurtosis:                       7.925   Cond. No.                     3.12e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.46e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [46]:
#modelo MRLS -RedimentoTotal
function = 'LimitedoChequeEspecial~Salario+Escolaridade_Superior_Pos+Gênero_RJ+Gênero_SP+Região_F+Região_M'
model = smf.ols(formula=function, data=credito).fit() 
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.880
Model:                                OLS   Adj. R-squared:                  0.869
Method:                     Least Squares   F-statistic:                     78.87
Date:                    Fri, 05 May 2023   Prob (F-statistic):           3.15e-19
Time:                            22:05:27   Log-Likelihood:                -435.33
No. Observations:                      48   AIC:                             880.7
Df Residuals:                          43   BIC:                             890.0
Df Model:                               4
Covariance Type:                nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                   356.7551    307.001      1.162      0.252    -262.371     975.881
Salario                       0.4574      0.042     10.990      0.000       0.373       0.541
Escolaridade_Superior_Pos   518.9143    934.044      0.556      0.581   -1364.765    2402.594
Gênero_RJ                  -944.3239    335.824     -2.812      0.007   -1621.578    -267.069
Gênero_SP                  1301.0790    462.321      2.814      0.007     368.721    2233.437
Região_F                  -1655.7125    392.883     -4.214      0.000   -2448.037    -863.388
Região_M                   2012.4676    557.111      3.612      0.001     888.946    3135.989
==============================================================================
Omnibus:                       10.319   Durbin-Watson:                   1.719
Prob(Omnibus):                  0.006   Jarque-Bera (JB):               25.553
Skew:                          -0.224   Prob(JB):                     2.83e-06
Kurtosis:                       6.546   Cond. No.                     3.75e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.68e-32. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [47]:
#modelo MRLS - Escolaridade_Superior_Pos
function = 'LimitedoChequeEspecial~Salario+Gênero_RJ+Gênero_SP+Região_F+Região_M'
model = smf.ols(formula=function, data=credito).fit() 
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.879
Model:                                OLS   Adj. R-squared:                  0.871
Method:                     Least Squares   F-statistic:                     106.7
Date:                    Fri, 05 May 2023   Prob (F-statistic):           3.24e-20
Time:                            22:05:58   Log-Likelihood:                -435.50
No. Observations:                      48   AIC:                             879.0
Df Residuals:                          44   BIC:                             886.5
Df Model:                               3
Covariance Type:                nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    435.1731    270.477      1.609      0.115    -109.938     980.284
Salario        0.4616      0.041     11.367      0.000       0.380       0.543
Gênero_RJ   -980.3190    326.916     -2.999      0.004   -1639.175    -321.463
Gênero_SP   1415.4921    410.653      3.447      0.001     587.876    2243.109
Região_F   -1763.9694    338.463     -5.212      0.000   -2446.096   -1081.842
Região_M    2199.1424    440.868      4.988      0.000    1310.631    3087.654
==============================================================================
Omnibus:                       11.932   Durbin-Watson:                   1.646
Prob(Omnibus):                  0.003   Jarque-Bera (JB):               29.897
Skew:                          -0.402   Prob(JB):                     3.22e-07
Kurtosis:                       6.782   Cond. No.                     2.45e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.56e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [49]:
#modelo MRLS - Intercept
function = 'LimitedoChequeEspecial~Salario+Gênero_RJ+Gênero_SP+Região_F+Região_M-1'
model = smf.ols(formula=function, data=credito).fit() 
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.879
Model:                                OLS   Adj. R-squared:                  0.871
Method:                     Least Squares   F-statistic:                     106.7
Date:                    Fri, 05 May 2023   Prob (F-statistic):           3.24e-20
Time:                            22:07:12   Log-Likelihood:                -435.50
No. Observations:                      48   AIC:                             879.0
Df Residuals:                          44   BIC:                             886.5
Df Model:                               3
Covariance Type:                nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Salario        0.4616      0.041     11.367      0.000       0.380       0.543
Gênero_RJ   -762.7325    361.748     -2.108      0.041   -1491.788     -33.677
Gênero_SP   1633.0786    504.366      3.238      0.002     616.596    2649.561
Região_F   -1546.3828    359.891     -4.297      0.000   -2271.696    -821.070
Região_M    2416.7289    537.714      4.494      0.000    1333.037    3500.421
==============================================================================
Omnibus:                       11.932   Durbin-Watson:                   1.646
Prob(Omnibus):                  0.003   Jarque-Bera (JB):               29.897
Skew:                          -0.402   Prob(JB):                     3.22e-07
Kurtosis:                       6.782   Cond. No.                     1.76e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.02e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.